
<div>
    <table>
      <tr>
        <th>No</th>
        <th>Title</th> 
        <th>View</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      <tr>
          <label class="btn btn-primary" btnCheckbox *ngIf="!filterMode"  role="button" (click)="filterMode=true">Filter</label>
          <td></td>
          <td *ngIf="filterMode" (input)="fitler($event.target.value,'title')">
              <input type="text">
          </td>
          <td *ngIf="filterMode" (input)="fitler($event.target.value,'views')">
              <input type="number">
          </td>
          <td *ngIf="filterMode" (input)="fitler($event.target.value,'genre')">
              <input type="text">
          </td>
          <td *ngIf="filterMode" (input)="fitler($event.target.value,'descriptions')">
              <input type="text">
          </td>
          <td>
            <i class="fa fa-times" (click)="filterMode=false;" *ngIf="filterMode"></i>
          </td>
          
      </tr>
      <tr *ngFor="let item of filteredItems,let i = index">
        <td >{{i}}</td>
        <td *ngIf="!item.editMode">{{item.title}}</td>
        <td *ngIf="item.editMode"><input type="text"></td>

        <td *ngIf="!item.editMode">{{item.views}}</td>
        <td *ngIf="item.editMode"><input type="number"></td>

        <td *ngIf="!item.editMode">{{item.genre}}</td>
        <td *ngIf="item.editMode"><input type="text"></td>

        <td *ngIf="!item.editMode">{{item.descriptions|slice:0:20}} <i class="fa fa-info" (click)="openModal(template,item.descriptions)"></i></td>
        <td *ngIf="item.editMode"><input type="text"></td>

        <td><i class="fa fa-pencil" (click)="item.editMode=true;" *ngIf="!item.editMode"></i></td>
        <td><label class="btn btn-primary" btnCheckbox *ngIf="item.editMode" role="button" (click)="save(item)">Save</label></td>
      
      </tr>
    
    </table>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Description</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      {{description}}
  </div>
</ng-template>